<h1>Movie List</h1>
<h3></h3>

<div class="max-w-sm rounded overflow-hidden shadow-lg mt-5">
  <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Title</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,
      exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
  </div>
</div>

<% if @movies %>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <%= movie["title"] %><br>
<!--        <%#= image_tag 'https://image.tmdb.org/t/p/w300/' + movie["poster_path"].to_s %><br>-->
<!--        <%#= movie["backdrop_path"] %><br>-->
      </li>
    <% end %>
  </ul>
<% end %>