<main class="my-background-cover" >
  <div class="container mx-auto py-5">

    <div class="py-8 text-center">
      <h1 class="text-5xl mb-2">Movie Portal</h1>
      <p class="text-xl mb-8">❤️ Your entertainment planner ❤️</p>
    </div>

    <% if @movies %>
      <div class="flex flex-wrap overflow-hidden justify-center">
        <% @movies.each do |movie| %>
          <div class="overflow-hidden rounded shadow-lg w-48 bg-black m-5">
            <div class="bg-cover bg-center w-48 h-auto">
              <%= link_to (image_tag 'https://image.tmdb.org/t/p/w300/' + movie.poster_path), movie_path(movie.id) %>
            </div>
            <h3 class="text-white p-2"><%= movie.title %></h3>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

</main>