<main class="my-background-cover">
  <div class="w-full min-h-screen max-w-sm mx-auto pt-8">
    <div class="bg-white shadow-md rounded-lg w-full max-w-sm mx-auto mt-8 p-5">
      <span class="text-2xl text-bold mb-2">User Profile</span>
      <hr class="border-b-4 w-2/3 border-teal-500 mb-4">
      <p class="my-6">Hello welcome to this <span class="text-lg font-bold text-red-600 italic">boring</span> page.</p>
      <p class="my-6">Would you like to change your password? </p>
      <p class="my-6">Well, click the obligatory button below. </p>

      <p><%= link_to "Update your Profile", edit_user_registration_path, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold ml-6 my-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline" %></p>
    </div>
    <p class="text-center text-gray-200 text-xs my-4">
      &copy;2019 EclecticCoding. All rights reserved.
    </p>
  </div>

</main>