<section class="py-8 text-center">
  <h1 class="text-5xl mb-2">Ruby on Rails + TailwindCSS</h1>
  <p class="text-xl mb-8">❤️ A match made in heaven️️ ❤️</p>
  <a href="https://tailwindcss.com/docs/installation/"
     class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded"
     target="_blank">Tailwind Docs</a>
</section>

<main class="container mx-auto py-5 text-center">
  <h3>Movie grid</h3>
  <div class="inline-flex">
    <button class="btn btn-teal shadow-lg">Popular</button>
    <button class="btn btn-teal shadow-lg">Samsung</button>
    <button class="btn btn-teal shadow-lg">Latest</button>
  </div>
</main>