<section class="py-8 text-center">
  <h1 class="text-5xl mb-2">Movie Portal</h1>
  <p class="text-xl mb-8">❤️ Your entertainment planner ❤️</p>
</section>

<main class="container mx-auto py-5 text-center">
  <div class="inline-flex">
    <button class="btn btn-teal shadow-lg">Popular</button>
    <button class="btn btn-teal shadow-lg">Samsung</button>
    <button class="btn btn-teal shadow-lg">Latest</button>
  </div>
</main>