@import "~tailwindcss/base";
@import "~tailwindcss/components";

//Custom styles

#menu-toggle:checked + #menu {
  @apply block;
}

//Components - custom styles

button {
  @apply rounded-lg;
  @apply text-white font-bold;
  @apply mx-2 py-3 px-8;
}

.btn-primary {
 @apply bg-green-500

  &:hover {
    @apply bg-green-700;
  }
}

// User forms
.user-form .user-label {
  @apply inline block text-gray-700 text-sm font-bold;
}

.user-form-field {
  @apply shadow appearance-none border rounded w-full;
  @apply text-gray-700 leading-tight;

  &:focus {
    @apply outline-none shadow-outline;
  }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.icon-size {
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

.my-background-cover {
  background: url("images/movie-theatre.png");
  @apply bg-no-repeat bg-center bg-fixed bg-cover;
}

.card-rating {
  background-color: #212529;
  padding: 7px;
  display: block;
  z-index: 100;
  width: 35px;
  height: 35px;
  @apply text-white text-sm text-center;
  @apply border border-yellow-500 rounded-full;
}

.movie {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, .7);
  color: #dee2e6;
  position: relative;
  display: grid;
  grid-template: "image info" "image stat";
  justify-content: start;
  grid-template-columns: 300px 1fr;
}

.movie__info {
  grid-area: info;
}

.movie__stat {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  padding: 15px;
  font-size: 1em;
  color: #adb5bd;
  grid-area: stat;
  align-self: end;
}

.movie__rating {
  position: absolute;
  top: 7px;
  right: 7px;
  margin: 4px;
  background-color: transparent;
  padding: 8px;
  text-align: center;
  display: inline-block;
  z-index: 100;
  width: 55px;
  height: 55px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid #28a745;
}

@import "~tailwindcss/utilities";

